<!DOCTYPE html>
<html lang="en" data-ng-app="eatIdeaApp">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="EatIdea - twój pomysł na danie">
    <meta name="keywords" content="eat, idea, pomysł, obiad, jedzenie">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome on EatIdea</title>

    <link rel="stylesheet" href="css/style.css">


    <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script type="text/javascript" src="app/scripts/main.js"></script>
</head>


<body>
    <div id="menuSidebar" class="w3-sidebar w3-animate-left w3-card-4 w3-mobile" style="width:25%">
        <div class="w3-bar w3-dark-grey">
            <span class="w3-bar-item w3-padding-16">Menu</span>
            <button ng-click="menuSidebarHide()" class="w3-bar-item w3-button w3-right w3-padding-16" title="close Sidebar">×</button>
        </div>
        <div class="w3-bar-block">
            <a href="#!meal" class="w3-bar-item w3-button" ng-click="hideMenuOnMobile()">Przeglądaj przepisy</a>
            <a href="#!shoplist" class="w3-bar-item w3-button" ng-click="hideMenuOnMobile()">Twoje listy zakupów</a>
            <a href="#!/" class="w3-bar-item w3-button" ng-click="hideMenuOnMobile()"><< wróc do strony głównej</a>
        </div>
    </div>

    <div style="margin-left:25%" id="pageContent">
        <div class="w3-bar">
            <button id="openNav" class="w3-bar-item w3-button w3-teal w3-xlarge" ng-click="menuSidebarShow()" style="display:none">&#9776;</button>
            <div class="w3-bar-item"><h1>:)</h1></div>
        </div>

        <div id="main" class="w3-container" style="height: 100%">
            <div data-ng-view></div>
        </div>
    </div>
</body>
</html>