
<div class="w3-panel">
    <div class="w3-panel w3-teal">
        <h5>Meals page {{abc}}</h5>
        <p>Lista posiłków</p>
    </div>


    <div class="w3-card" ng-if="!meals">MEALS PAGE</div>

    <div ng-if="meals" ng-repeat="meal in meals">
        <div class="w3-card">
            <div class="w3-container w3-hover-shadow">
                <p>Nazwa: {{meal.name}}</p>
                <p>Czas przygotowania: {{meal.prepareTime}}</p>
                <div class="w3-button w3-teal" ng-click="details(meal.id)">Zobacz</div>
            </div>
        <p/>
        </div>
    </div>

    <div class="w3-container w3-card">
        <p>Nazwa: <input ng-model="newMeal.name" ng-required="true"></p>
        <p>Składniki:</p>
        <textarea ng-model="newMeal.ingredients" ng-list="&#10;" ng-trim="false" title="Każdy składnik w osobnej lini"></textarea>
        <p>Przepis: <input ng-model="newMeal.receipt" ng-required="true"></p>
        <p>Czas przygotowania: <input ng-model="newMeal.prepareTime" ng-required="true"></p>
        <p><div class="w3-button w3-teal" ng-click="addMeal()">Dodaj +</div></p>
    </div>
</div>