
<div class="w3-panel" ng-if="meal">
    <div class="w3-card">
        <p>Nazwa: {{meal.name}}</p>
        <p>Składniki:</p>
        <div ng-repeat="ingredient in meal.ingredients">
            <p>* {{ingredient}}</p>
        </div>
        <div style="width:50%">
            <button onclick="myFunction('acc')" class="w3-button w3-block w3-teal w3-left-align">vvv Lista zakupów vvv</button>
            <div id="acc"class="w3-hide w3-block w3-animate-fading w3-animate-opacity">
                <div class="w3-button w3-bar-item w3-block w3-teal" ng-click="showNameSelect()">Utwórz nową</div>
                <div class="w3-button w3-bar-item w3-block w3-teal" ng-click="showShoplists()">Dodaj do istniejącej</div>
            </div>

            <div id="selectNameModal" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container">
                        <span onclick="$('selectNameModal').hide();" class="w3-button w3-display-topright">&times;</span>
                        Nazwa: <input id="listNameModal" ng-model="vars.shoplistName" type="text" ng-init="vars.shoplistName = meal.name + ' shoplist'"/>
                        <div class="w3-button w3-teal" ng-click="createShoplist()">OK</div>
                    </div>
                </div>
            </div>

            <div id="shoplistsModal" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container">
                        <span ng-click="$('shoplistsModal').hide();" class="w3-button w3-display-topright">&times;</span>
                        <div ng-if="!ableShoplists">Loading...</div>
                        <div ng-repeat="shoplist in ableShoplists" ng-if="ableShoplists">
                            <div class="w3-button w3-block" ng-click="addToShoplist(shoplist.id)">{{shoplist.name}} - {{shoplist.createDate | date: 'yyyy-MM-dd HH:mm'}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function myFunction(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
            </script>
        </div>

        <p>Przepis:</p>
        <p>{{meal.receipt}}</p>
        <p>Czas przygotowania: {{meal.prepareTime}}</p>
        <div class="w3-button w3-teal" ng-click="deleteMeal(meal.id)">Usuń przepis</div>
    </div>
</div>