


<div class="w3-container" ng-if="shoplist">
    <div class="w3-card">
        <p>Nazwa: {{shoplist.name}}</p>
        <div ng-repeat="product in shoplist.products track by $index">
            <p>{{$index+1}}: {{product}} <div class="w3-button" ng-click="removeProduct(product)">usuń</div></p>
        </div>
    </div>
</div>
