<div class="w3-panel">
    <div class="w3-card" ng-if="!shoplists">Shoplist PAGE</div>

        <div ng-repeat="shoplist in shoplists" ng-if="shoplists" class="w3-display-container">
            <div class="w3-panel w3-card">
                <div class="w3-display-topright">{{shoplist.createDate | date: 'yyyy-MM-dd HH:mm'}}</div>
                <p>Nazwa: {{shoplist.name}}</p>
                <p>{{shoplist.products.length}} produktów na liście</p>
                <div class="w3-button w3-teal" ng-click="showDetails(shoplist.id)">Szczegóły</div>
            </div>
        </div>

</div>